<div *ngIf="isLoading" class="alert alert-warning">
  Loading data, please wait...
</div>
<div class="row justify-content-start">
    <div class="col-sm-4" *ngFor="let post of posts">
      <div class="card" [routerLink]="['/post/details/', post.id]" style="cursor: pointer">
        <div class="card-header">{{ post.author }} <span class="text-muted">{{ post.publish_date }}</span></div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text"> {{ post.description }} </p>
          <small class="text-muted">4 Comments</small>
        </div>
      </div>
    </div>
</div>
