<ng-template #commentAddModal let-modal>
  <app-add-comment [post]="post"></app-add-comment>
</ng-template>
<div class="container">
  <div *ngIf="isLoading" class="alert alert-warning">
    Loading data, please wait...
  </div>
  <div class="card">
    <div class="card-header">{{ post.author }} | <span class="text-muted">{{ post.publish_date }}</span></div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text" [innerHTML]="post.content"></p>
    </div>
    <div class="card-footer">
      <h6>Comments</h6>
      <ul class="list-group" *ngIf="(comments.length > 0) else noComments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
      </ul>
      <ng-template #noComments>There are no comments.</ng-template>
      <div class="btn-toolbar justify-content-center mt-2">
        <div class="btn-group" aria-label="Main buttons">
          <button class="btn btn-secondary" [routerLink]="'/home'"><i class="fa fa-arrow-left"></i></button>
          <button class="btn btn-primary" (click)="openModal(commentAddModal)"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
