<div class="container">
  <div *ngIf="isLoading" class="alert alert-warning">
    Loading data, please wait...
  </div>
  <div class="btn-toolbar justify-content-center mb-2">
    <div class="btn-group" aria-label="Main buttons">
      <button class="btn btn-secondary" [routerLink]="'/home'">Go back</button>
      <button class="btn btn-primary" [routerLink]="['/post/edit', post.id]">Add Comment</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">{{ post.author }} | <span class="text-muted">{{ post.publish_date }}</span></div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text" [innerHTML]="post.content"></p>
    </div>
    <div class="card-footer">
      <h6>Comments</h6>
      <ul class="list-group" *ngIf="(comments.length > 0) else noComments">
        <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
      </ul>
      <ng-template #noComments>There are no comments.</ng-template>
    </div>
  </div>
</div>
